body{
    margin: 0;
    padding: 48px;
    background-color: #1f1f3f;
    
}

.app{
  max-width: 640px;
  margin: 0 auto;
  background-color:#f0f0f0;
  padding: 24px 32px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

h1{
  text-align: center;
}

h2{
  margin-bottom: 8px;
}

p{
  margin-bottom: 8px 0;
}

input{
  box-sizing: border-box;
}

button:hover{
  cursor: pointer;
}