body{
    margin: 0;
    padding: 48px;
    background-color: #6d44ba;
}

.app{
  max-width: 640px;
  margin: 0 auto;
  background-color:#f9fff7;
  padding: 24px 32px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

h1{
  text-align: center;
}

h2{
  margin-bottom: 8px;
}

p{
  margin-bottom: 8px 0;
}

input{
  box-sizing: border-box;
}

button{
  background-color: #01c1b2;
  color: #fff;
  padding: 4px 8px;
  margin-right: 12px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  opacity: .8;
  transition: 0.3s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

button:hover{
  opacity: 1;
}

.todo-list{
  margin-top: 24px;
  padding-top: 24px;
  border-top: 1px solid #333;
}

.todo{
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 8px;
  margin-bottom: 12px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category {
  color: #f9fff7;
  background-color: #6d44ba;
  padding: 2px;
  border-radius: 3px;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.complete{
  background-color: #5cb85c;
}

.remove{
  background-color: #d9534f;
}

.todo-form{
  padding-bottom: 1.5rem;
}

input, select{
  width: 100%;
  padding: 4px;
  margin-bottom: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.filter, .search{
  border-bottom: 1px solid #333;
  margin-bottom: 12px;
  padding-bottom: 12px;
}

.filter-options{
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.filter-options div{
  flex: 1 1 0;
}